<div id=admin-page>
  <h1>Admin's page</h1>

  <div class="users">
    <% @Users.each do |user| %>

      <div class="user">

        <div class="user-name">
          <h4><%= user.user_name %><h4>
        </div>

        <div class="user-delete">
          <%= button_to "Delete User Account",
            user_path(:id => user.id),
            :method => :delete,
            :class=> "button"
          %>
        </div>

      </div>

    <% end %>
  </div>

</div>
