@import 'fonts';
@import 'colors';

#admin-page {
  background: $khaki;
  padding: 2rem;

  h1 {
    color: $crayolared;
    text-align: center;
    font-family: 'Lobster';
    margin-bottom: 2rem;
  }

  .users {
    margin: 0 3rem;

    .user {
      background: $darkslategreen;
      border: 3px solid $junglegreen;
      border-radius: 12px;
      padding: 1rem 1rem 3.3rem 1rem;
      margin: 1rem 0;

      .user-name {
        float: left;

        h4 {
          padding-top: 0.25rem;
          font-family: 'Cutive';

          a {
            color: $bittersweet;
          }

          a:hover {
            font-weight: bold;
            color: $junglegreen;
          }
        }
      }

      .buttons {
        float: right;

        .user-content {
          float: left;

          .button {
            height: 1rem;
            padding-bottom: 1.5rem;
            background: $bittersweet;
            border-radius: 5px;
            font-family: "Josefin";
          }

          .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            font-weight: bold;
          }
        }

        .user-delete {
          float: right;

          .button {
            margin-left: 1rem;
            height: 1rem;
            padding-bottom: 1.5rem;
            background: $crayolared;
            border-radius: 5px;
            font-family: "Josefin";
          }

          .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            font-weight: bold;
          }
        }
      }
    }
  }
}
