// 
// $background: #55443D;
//
// $highlight: #FA023C;
//
// $theme: #88C425;
//
// $yellow: #F6AA3D;
//
// $formgreen: #82d312;
//
//

$bittersweet: #FF6F59;

$darkslategreen: #254441;

$junglegreen: #43AA8B;

$khaki: #B2B09B;

$crayolared: #EF3054;
