@import 'colors';
@import 'fonts';

#devise-log-in {
  background: $formgreen;
  margin: 2rem auto;
  padding: 2rem 3rem;
  width: 450px;

  textarea {
    max-height: 200px;
    resize: vertical;
  }

  h2 {
    text-align: center;
    font-family: 'Lobster';
    font-weight: bold;
    text-shadow: 2px 2px #000000;
    color: $yellow;
  }

  label {
    font-family: 'Josefin';
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    color: $background;
  }

  em {
    color: $highlight;
    font-family: fantasy;
    font-weight: bold;
    text-shadow: 1px 1px #000000;
    font-size: 15px;
  }

  #button {
    font-family: 'Josefin';
    color: white;
    padding: 0.75rem;
    margin: 1rem 0rem;
    width: 100%;
    background: $highlight;
    border: none;
  }

  #button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;

    font-family: 'Josefin';
    color: white;
    padding: 0.75rem;
    margin: 1rem 0rem;
    width: 100%;
    background: $highlight;
    border: none;
  }

  #devise-links {
    text-align: center;

    a {
      color: $yellow;
      font-family: fantasy;
      font-weight: bold;
      text-shadow: 1px 1px #000000;
      font-size: 15px;
    }

    a:hover {
      color: $yellow;
      font-family: fantasy;
      font-weight: 1600;
      text-shadow: 1.5px 1.5px #000000;
      font-size: 15px;
    }
  }
}
