@import 'fonts';
@import 'colors';

#items-index-container {
  padding: 0;

  .grid-container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  #power-box {
    margin: 0;
    overflow: hidden;
    padding-bottom: 0;
    width: 100%;

    #weather {
      text-align: center;
      color: white;
      font-family: 'Josefin';
      background: $junglegreen;
      padding: 0.5rem;

      p {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    #item-tab-component {
      background: $junglegreen;
      padding: 0;

      #button1 {
        margin-top: 2px;
        border: 1px solid $junglegreen;
        border-bottom: 1px solid $darkslategreen;
        border-left: 0;
        border-radius: 25px 25px 0 0;
        font-size: 20px;
        color: white;
        font-family: 'Josefin';
        padding: 1rem;
        margin: 0;
        background: $darkslategreen;
      }

      #button1:hover {
        font-weight: bold;
        background: $junglegreen;
        border: 1px solid $darkslategreen;
      }

      #button2 {
        margin-top: 2px;
        border: 1px solid $junglegreen;
        border-bottom: 1px solid $darkslategreen;
        border-radius: 25px 25px 0 0;
        font-size: 20px;
        color: white;
        font-family: 'Josefin';
        padding: 1rem;
        margin: 0;
        background: $darkslategreen;
      }

      #button2:hover {
        font-weight: bold;
        background: $junglegreen;
        border: 1px solid $darkslategreen;
      }

      #button3 {
        margin-top: 2px;
        border: 1px solid $junglegreen;
        border-bottom: 1px solid $darkslategreen;
        border-right: 0;
        border-radius: 25px 25px 0 0;
        font-size: 20px;
        color: white;
        font-family: 'Josefin';
        padding: 1rem;
        margin: 0;
        background: $darkslategreen;
      }

      #button3:hover {
        border: 1px solid $darkslategreen;
        background: $junglegreen;
        font-weight: bold;
      }
    }

    #item-search-component {

      #item-search-form {

        #search {
          text-align: center;
          margin: 0;
        }

        input:focus::-webkit-input-placeholder {
          color: transparent;
        }

        #button {
          font-family: 'Josefin';
          color: white;
          padding: 0.75rem;
          margin: 0;
          width: 100%;
          border: none;
          // border-radius: 0 0 25px 25px;
          background: $crayolared;
        }

        #button:hover {
          font-weight: bold;
          background: $junglegreen;
        }
      }
    }
  }

  #items-component {
    margin-top: 1rem;

    h2 {
      color: $bittersweet;
      margin-left: 2.5rem;
      font-family: 'Cutive';
      font-style: italic;
      font-size: 25px;
    }
  }
}
