@import 'fonts';
@import 'colors';

body {
  background: $darkslategreen;
}

#app {
  background: $darkslategreen;
}

.flash {
  text-align: center;
  background: $junglegreen;
  color: $crayolared;
  padding: 1rem 0.75rem;
  font-family: 'Josefin';
  font-weight: bold;
}

#item-tile {
  text-align: center;

  #button {
    margin: 1rem auto;
    width: 300px;
    border-radius: 15px;
    font-family: 'Josefin';
    color: white;
    padding: 0.75rem;
    background: $crayolared;
    border: none;
  }

  #button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    font-weight: bold;
  }
}

#unauthorized-edit {
  h1 {
    color: $crayolared;
    font-family: 'Josefin';
    font-weight: bolder;
    text-align: center;
    margin: 2rem;
  }
}
