@import 'fonts';
@import 'colors';

#nav {
  height: 150px;
  padding: 1rem 1.5rem 0rem 2rem;
  background-color: $junglegreen;
  // background-image: url(https://gallery.yopriceville.com/var/resizes/Free-Clipart-Pictures/Grass-Grounds-Coverings-PNG-Clipart/Grass_PNG_Clipart_Picture.png?m=1507172106);
  h1 {
    margin-left: 5%;
    a {
      color: $bittersweet;
      font-family: 'Cutive';
      font-weight: bold;
      font-size: 60px;
    }
  }

  section.top-bar-section {
    margin-bottom: 20px;
    text-align: left;
    // background-color: rgba(255, 255, 255, 0.3);
    background-color: $darkslategreen;
    padding: 0;
    padding-right: 0.75rem;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    border-radius: 15px;

    .nav-dev-links {
      float: left;
      padding-right: 1rem;

      ul {
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0.5rem;
        li {
          font-size: 20px;
          list-style: none;
          font-family: 'Cutive';
          font-weight: bold;
          color: $khaki;
          margin-top: 10px;

          a {
            color: $crayolared;
          }
        }
      }
    }

    .profile-thumb {
      border-radius: 15px;
      overflow: hidden;
      padding-bottom: 0.1rem;
      margin-right: 0.75rem;
      float: right;
      width: 80px;
      height: 80px;
    }
  }
}
