@import 'fonts';
@import 'colors';

#user-show-container {
  color: $bittersweet;

  .user-info {
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Cutive';
    font-weight: bold;
    font-size: 30px;
  }

  h3 {
    font-family: 'Josefin';
    font-weight: bold;
    font-size: 20px;
    color: $junglegreen;
  }

  #user-items-component {
    text-align: center;
    
    #tile-field {
      padding-top: 1rem;

      #item-edit-button {
        width: 300px;
        margin: auto;
        border-radius: 15px;

        a {
          p {
            margin: auto;
            margin-top: 1rem;
            border-radius: 15px;
            width: 300px;
            font-family: 'Josefin';
            padding: 0.562rem;
            background: $bittersweet;
            color: white;
          }
        }
      }

      #item-edit-button:hover {
        font-weight: bold;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      }
    }
  }

  #user-profile-component {
    margin: 1.5rem;

    .user-show-image {
      text-align: center;

      #img {
        border-radius: 50px;
        border: 5px solid $junglegreen;
        overflow: hidden;
      }
    }

    .user-show-details {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #profile {
        margin: 1.5rem;
        padding: 1rem;
      }

      .edit-link {
        font-family: 'Cutive';
      }

      .edit-link:hover {
        font-weight: bold;
      }

      .admin-link {
        color: $crayolared;
        font-family: 'Cutive';
      }

      .admin-link:hover {
        font-weight: bold;
      }

      h1 {
        font-family: 'Cutive';
        color: $bittersweet;
        font-size: 35px;
      }

      h5 {
        font-family: 'Josefin';
        color: $junglegreen;
        font-weight: bold;
      }

      a {
        color: $bittersweet;
      }

      a:hover {
        font-weight: bold;
      }
    }
  }
}

#new-item-form {
  background: $khaki;
  margin-bottom: 0;

  #new-item-form-container {
    background: $khaki;
    margin: 2rem 0 0 0;
    padding: 2rem 3rem;
    width: 100%;
    border-radius: 20px;

    input {
      border-radius: 10px;
    }

    textarea {
      border-radius: 10px;
    }

    div {
      border-radius: 10px;
      overflow: hidden;
    }

    p {
      text-align: center;
      color: white;
      background: $junglegreen;
      padding: 0.5rem;
      font-family: "Josefin";
      margin-bottom: 0;
    }

    p:hover {
      font-weight: bold;
    }

    h1 {
      text-align: center;
      font-family: 'Cutive';
      font-weight: bold;
      color: $junglegreen;
    }

    label {
      font-family: 'Josefin';
      font-weight: bold;
      color: $darkslategreen;
    }

    #button {
      font-family: 'Josefin';
      color: white;
      padding: 0.75rem;
      margin-top: 1rem;
      width: 100%;
      background: $crayolared;
      border: none;
    }

    #button:hover {
      font-weight: bold;
    }

    .alert {
      margin-top: 1rem;
      margin-bottom: 0rem;
      background: $khaki;
      text-align: center;
      border: none;

      h3 {
        margin-top: 0rem;
        font-size: 20px;
        text-align: center;
        font-family: 'Cutive';
        color: $darkslategreen;
      }

      li {
        list-style: none;
        font-family: 'Josefin';
        font-weight: bold;
        color: $crayolared;
      }

      li:nth-child(n)::before {
        content: "❌ ";
      }
    }

    #form {
      .input-box {
        padding:0.75rem;
      }

      span {
        text-align: right;
      }

      textarea {
        resize: vertical;
        min-height: 100px;
        max-height: 200px;
      }
    }
  }
}
